extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  form(id='soldticket-add-form' name='soldticket-add-form' class='form-inline' action='')
    input(id='id' name='id' value='' class='form-control' type='hidden')
    p(class='text-danger' id='error-text')
    div(class='form-group')
      div(class='col-md-3')
        label(for='passenger') Passenger
      div(class='col-md-9')
        input(id='passenger' name='passenger' value='' class='form-control' autocomplete="off")
      div(class='col-md-3')
        label(for='train') Train
      div(class='col-md-9')
        input(id='train' name='train' value='' class='form-control'  autocomplete="off")
      div(class='col-md-3')
        label(for='ticket') Ticket
      div(class='col-md-9')
        input(id='ticket' name='ticket' value='' class='form-control'  autocomplete="off")
      div(class='col-md-3')
        label(for='ticket') Date
      div(class='col-md-9')
        input(id='date' name='date' value='' class='form-control'  autocomplete="off" type="date")
    div(class='form-group')
      div(class='col-md-12')
        button(id="form-button" type='submit' class='btn btn-primary') Create
    div.list-wrapper
      table(id='ticket-list')
    h1 Routes without tickets
    div.list-wrapper
      table(id='routes_without')
    h1 Most paid routes
    div.list-wrapper    
      table(id='toproutes')

block append scripts
  script(src='/static/js/models/soldticket.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/soldticket.js')
      